.page {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  min-width: 360px;
}