.filter {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px 42px;
  @include media($tablet) {
    justify-content: center;
  }

  &__item {
    margin: 0 4px 8px;
  }

  &__button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    border: 0;

    background-color: #f5f4fa;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

    &--active,
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--secondary-color);
      box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}