.subscription {
  @include media($mobile) {
    max-width: 450px;
    margin: 0 auto;
  }
  @include media($desktop) {
    max-width: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
    padding: 10px 20px;
    width: 200px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);
    margin: 0 auto;

    @include media($desktop) {
      margin: 0;
    }
  
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  &__row {
    @include media($desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }

  &__field {
    display: block;
    width: 100%;
    color: var(--secondary-color);
    padding: 14px 16px;
    font-size: 16px;
    line-height: 1.25;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    margin: 0 0 20px;
    
    @include media($desktop) {
      margin: 0 12px 0 0;
      width: calc(100% - 212px);
    }

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }
  }

  &__icon {
    fill: var(--secondary-color);
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
}